name: Update and publish
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *' # hourly
  workflow_dispatch:
jobs:
  archive:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: szenius/set-timezone@v1.0
      with:
        timezoneLinux: "Australia/Sydney"
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Install dependencies
      run: yarn
    - name: Run script
      run: node index.js
      timeout-minutes: 1
    - name: Push data
      run: |
          git config user.name jxeeno
          git config user.email ken+github@jxeeno.com
          git add . || exit 0
          git commit -m "auto(): update endpoints" || exit 0
          git push || exit 0
